<div>
  <section class="hero column items-center">
    <div class="avatar">
      <%- image_tag('img/avatar.jpg', {alt: 'avatar image'}) %>
    </div>
    <h1 class="text-center"><%= theme.headline %></h1>

    <div class="social text-center">
      <% for (let i in theme.social) { %>
        <a href="<%- theme.social[i] %>" target="_blank" class="mr-sm"><%= i %></a>
      <% } %>
    </div>
  </section>

  <hr class="mt-lg">
    
  <section class="about">
    <h2>About me</h2>
    <p><%- theme.aboutme %></p>
  </section>
</div>