<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- config.title + (page.title ? ' | ' + page.title : '')%></title>

  <!-- OG tags -->
  <meta property="og:title" content="<%- config.title + (page.title ? ' | ' + page.title : '')%>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%- page.permalink %>" />
  <meta property="og:description" content="<%- page.description %>" />
  <meta property="og:image" content="<%- page.photos ? url_for(page.photos[0]) : url_for('img/avatar.jpg') %>" />

  <%- css('css/style')%>
  <% if (theme.favicon) { %>
  <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
</head>
